/* @todo #10 Cargar CSS elegantemente */
@import "http://localhost/wordpress/wp-includes/js/thickbox/thickbox.css?ver=20111117";

#icono-kanpress {
    background: transparent url(kanpress.png) left top no-repeat;
}

.kanban-contenedor {
    margin: 10px 0 0 0;
    width: 99%;
    overflow: hidden;
    padding: 0;
}

/*
 * KANBAN BOARD
 */
 
.wrap.responsive-pq {
    margin-right: 0;
}
.responsive-pq .kanban-contenedor {
    width: 100%;
}

.tres-col .col {
    width: 30%;
    margin: 0;
    padding: 0 1.5%;
    float: left;
    border-left: 1px solid silver;
}
.responsive-pq .tres-col .col {
    width: 31%;
}
.tres-col .col:first-child {
    margin-left: 0;
    border-left: none;
}
.responsive-pq .tres-col #col1 {
    padding-left: 0;
}
.responsive-pq .tres-col #col3 {
    padding-right: 0;
}

.col h3 {
    text-align: center;
}
.responsive-pq .col h3 {
    font-size: 1em;
}
.col h3 span {
    font-size: 0.9em;
    font-weight: bold;
}
.area-tareas {
    
}
.tarea {
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #eee;
    padding: 0;
    margin: 0 0 10px;
    overflow: hidden;
    background: white;
}
.tarea.post-published {
    background: #EEF;
}
.tarea h4 {
    margin-top: 0;
    font-size: 1.1em;
    padding-left: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left top;
}
.tarea h4 span {
    font-weight: normal;
    font-size: 0.9em;
    color: #D54E21;
}
.responsive-pq .tarea h4 {
    padding-left: 0;
    background: none!important;
}

.tarea h4.low {
    background-image: url(pr_low.png);
}
.responsive-pq .tarea h4.low {
    color: #4ca729;
}
.tarea h4.high {
    background-image: url(pr_high.png);
}
.responsive-pq .tarea h4.high {
    color: #ed3d40;
}
.tarea h4.medium {
    background-image: url(pr_medium.png);
}
.responsive-pq .tarea h4.medium {
    color: #f7c73b;
}
.tarea h4 img {
    width: 16px;
    height: 16px;
    display: inline;
    border: 0;
}
.tarea .dentro {
    padding: 0;
    margin: 10px;
    overflow: hidden;
}
.responsive-pq .tarea .dentro {
    margin-bottom: 0;
}

.responsive-pq .tarea .dentro p {
    margin-bottom: 0;
}
.tarea .dentro > .img {
    float: right;
    margin: 0 0 5px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #eee;
    font-size: 10px;
    text-decoration: none;
}
.tarea .post-is-publish {
    text-align: center;
    border: none;
    color: #21759B;
    padding: 3px;
    font-size: 1.2em;
    font-family: georgia;
    font-style: italic;
    margin: 5px 0;
}
.tarea .post-is-publish a {
    text-decoration: none;
}

.tarea .pie {
    overflow: hidden;
}
.tarea .seccion {
    background: #eee;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 10px;
    text-transform: uppercase;
    float: left;
    margin: 0;
    width: auto;
    padding: 5px 10px;
}
.responsive-pq .tarea .seccion {
    margin: 0 3px;
    padding: 0;
    font-size: 1em;
    border-radius: 0;
    background: none;
    float: none;
    text-align: center;
}
.tarea .meta {
    float: right;
    margin: 0;
    width: auto;
    padding: 5px 10px;
}
.responsive-pq .tarea .meta {
    float: none;
    padding: 0;
    margin: 0 3px 3px;
    text-align: center;
}
.enlace-detalles {
    text-decoration: none!important;
    font-weight: bold;
    font-size: 1.1em;
    background: #21759B;
    color: white;
    padding: 0 4px;
    border-radius: 4px;
}
.enlace-detalles:hover {
    background: #D54E21;
    color: white!important;
}

.creation-time {
    text-transform: lowercase;
}


/* 
 * Pop-ups 
 */

.tarea-detalles,
#TB_overlay,
#TB_window,
#form-nueva,
#asignar-tarea { 
    display: none; 
}
#TB_window {
    width: 670px; 
    /*height: auto; 
    margin-left: -335px; 
    margin-top: 0px; */
    position: absolute;
    top: 100px;
    visibility: visible;
    margin: 0;
    left: 0;
}
#TB_ajaxWindowTitle {
    font-weight: bold;
}

#ventana-contenido {
    margin: 20px;
}

.asignacion {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #eee;
    font-weight: bold;
    overflow: hidden;
}
.asignacion img {
    float: left;
    margin: 0 10px 0 0;
}
.task-description textarea {
    width: 100%!important;
}
.task-history {
    color: #777;
    text-align: right;
}
.task-history span {
    color: #333;
}
.remove-task-link {
    color: red!important;
}
.task-post {
    
}
.task-post h5 {
    margin: 10px 0 5px 0;
    font-size: 13px;
}
.task-post .post-status {
    color: #777;
}
.task-post .post-link {
    text-decoration: none;
    color: #21759B!important;
    font-size: 1.1em;
}
.task-post .post-link:hover {
    text-decoration: underline;
}
.task-post .post-meta {
    color: #777;
}


/*
 * FORMS
 */

.kanpress-form {

}
.kanpress-form > div {
    overflow: hidden;
    margin: 0 0 5px 0;
}
.kanpress-form label {
    width: 200px;
    float: left;
    margin: 0 10px 0;
}
.kanpress-form > div > div {
    float: left;
    margin: 0;
}
.kanpress-form > div > div > span {
    padding-left: 10px;
    color: gray;
    font-style: italic;
    font-size: 0.9em;
}
.kanpress-form > div.no-valido input,
.kanpress-form > div.no-valido textarea,
.kanpress-form > div.no-valido select {
    border-color: #C00;
}
.kanpress-form > div.no-valido label {
    color: #C00;
}
.kanpress-form .val {
    font-size: 0.9em;
    color: #C00;
}
.kanpress-form textarea.regular-text {
    width: 25em;
}
.kanpress-form textarea {
    font-family: arial;
}

/*
 * GENÉRICO
 */
.margen-arriba {
    margin-top: 15px;
}
.centro {
    text-align: center;
}
.light {
    font-weight: normal;
}
hr {
    border: none;
    border-top: 1px solid silver;
}
.bold {
    font-weight: bold;
}